.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Button Container */
.button-container {
  display: flex;
  gap: 10px;
}

.new-car-btn, .brands-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.new-car-btn:hover, .brands-btn:hover {
  background-color: #0056b3;
}

/* Search - Pagination - Filter Container */
.search-pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #007bff;
}

/* Filter Button Styling */
.filter-btn {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
  background-color: #007bff;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.pagination-container button {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-container button:disabled {
  color: #d6d6d6;
  border-color: #d6d6d6;
  cursor: not-allowed;
}

.pagination-container button:hover:not(:disabled) {
  background-color: #007bff;
  color: white;
}

.pagination-container span {
  font-size: 1em;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f8f9fa;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  cursor: pointer;
  position: relative;
}

th::after {
  content: '';
  position: absolute;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  opacity: 0.3;
  transition: transform 0.3s, opacity 0.3s;
}

th.sorted-asc::after {
  transform: rotate(180deg);
  opacity: 1;
}

th.sorted-desc::after {
  opacity: 1;
}

th.no-sort {
  cursor: default;
}

th.no-sort::after {
  display: none;
}

.car-image {
  width: 100px;
  height: auto;
}

.actions-header, .actions-cell {
  text-align: center;
  width: 100px;
}

.actions-cell {
  display: flex;
  justify-content: space-around;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

/* Cart Styling */
.cart {
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h3 {
  margin-top: 0;
}

.cart p {
  margin: 5px 0;
}

/* Modal Styling */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px 30px;
  border: none;
  width: 40%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  animation-name: modalopen;
  animation-duration: 0.4s;
  position: relative;
}

@keyframes modalopen {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.modal h3 {
  margin: 0;
  font-size: 1.8em;
  color: #333;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  margin-bottom: 15px;
  font-weight: bold;
  color: #555;
}

.modal input,
.modal select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.modal input:focus,
.modal select:focus {
  border-color: #007bff;
}

.modal button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.modal button[type="button"] {
  background-color: #6c757d;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button[type="button"]:hover {
  background-color: #5a6268;
}

.modal button[type="submit"] {
  background-color: #28a745;
}

.modal button[type="submit"]:hover {
  background-color: #218838;
}

/* Brand Modal Customization */
.brands-list ul {
  list-style-type: none;
  padding: 0;
}

.brand-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.brand-item input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.brand-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #007bff;
}

.brand-item button:hover {
  color: #0056b3;
}

.brand-item button:focus {
  outline: none;
}
